{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title id="page_title">Real Time Messaging - messages_count=0</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'style_room.css' %}"/>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body>
<div class="container-fluid">
  <div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default panel-chat">
				<!--div class="panel-heading">Live Chat</div>-->
      <div class="panel-body">
        <div class="container-fluid" id="chat-log">
					{% comment %}
					<div class="row message-bubble sent">
						<div class="col-sm-12">
							<div>
								<p class="initials">PI</p>
							</div>
							<div>
								<p class="text-muted text-bolder">Proctortrack Instructor</p><
								p>checkin checkincheckincheckincheckincheckincheckin checkincheckincheckin checkincheckin
								checkincheckincheckincheckin checkincheckincheckin checkincheckin</p></div>
						</div>
					</div>
					{% endcomment %}
        </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="chat-message-input" type="text" class="form-control">
               <span class="input-group-btn">
                     <button
                         id="chat-message-submit"
                         class="btn btn-primary"
                         type="button">
                       Send
                     </button>
               </span>
          </div>
        </div>
    </div>
		</div>

  </div>
</div>

<script src="{% static 'reconnecting-websocket.js' %}"></script>

<script>
	var roomName = {{ room_name_json }};
	var username = {{ username | title }};
	var total_messages = 0;
	var chatSocket = new ReconnectingWebSocket(
			'ws://' + window.location.host +
			'/ws/chat/' + roomName + '/');

	chatSocket.onopen = function(e) {
			fetchMessages();
	}

	chatSocket.onmessage = function(e) {
			var data = JSON.parse(e.data);
			var titleelement = document.getElementById('page_title');
			if (data['command'] === 'messages') {
					total_messages = data['messages'].length;
					for (let i = 0; i < data['messages'].length; i++) {
							createMessage(data['messages'][i]);
					}
			} else if (data['command'] === 'new_message') {
					total_messages += 1;
					createMessage(data['message']);
			}
			titleelement.textContent = 'Real Time Messaging - messages_count='.concat(total_messages);
	};

	chatSocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly');
	};

	document.querySelector('#chat-message-input').onkeyup = function(e) {
			if (e.keyCode === 13) { // enter, return
					document.querySelector('#chat-message-submit').click();
			}
	};

	document.querySelector('#chat-message-submit').onclick = function(e) {
			var messageInputDom = document.getElementById('chat-message-input');
			var message = messageInputDom.value;
			chatSocket.send(JSON.stringify({
					'command': 'new_message',
					'message': message,
					'from': username
			}));

			messageInputDom.value = '';
	};


	function fetchMessages() {
			chatSocket.send(JSON.stringify({
					'command': 'fetch_messages'
			}));
	}

	function create_structure(data) {
			var author = data['author'];

			var mainparentDivTag = document.createElement('div');
			var secondaryDivTag = document.createElement('div');
			var firstchildDivTag = document.createElement('div');
			var secondchildDivTag = document.createElement('div');

			if (author === username) {
					mainparentDivTag.className = 'row message-bubble sent';
			} else {
					mainparentDivTag.className = 'row message-bubble replies';
			}
			secondaryDivTag.className = 'col-sm-12';

			var firstchildpTag = document.createElement('p');
			var pTag = document.createElement('p');
			var secondpTag = document.createElement('p');

			firstchildpTag.className = 'initials';
			firstchildpTag.textContent = data['name_initials']
			firstchildDivTag.appendChild(firstchildpTag);


			pTag.className = 'text-muted text-bolder';
			pTag.textContent = data['name'];
			secondpTag.textContent = data.content;

			secondchildDivTag.appendChild(pTag);
			secondchildDivTag.appendChild(secondpTag);


			secondaryDivTag.appendChild(firstchildDivTag);
			secondaryDivTag.appendChild(secondchildDivTag);

			mainparentDivTag.appendChild(secondaryDivTag);

			document.querySelector('#chat-log').appendChild(mainparentDivTag);

	}

	function createMessage(data) {

			create_structure(data);
			$('.panel-body').scrollTop($('.panel-body')[0].scrollHeight);
	}
</script>
</body>
</html>

