.message-bubble{padding: 10px 0px;}
.message-bubble:nth-child(even) { background-color: #F5F5F5; }
.message-bubble.sent{text-align: right;}
.message-bubble.replies{text-align: left;}
.panel.panel-chat .panel-body{overflow-y: scroll;height: 350px;}
.panel-heading {background-color: #282C35 !important;color: #ECECEC !important;}	
.text-bolder {font-weight: bold;}
